

/* ==========================================================================
   Global Styles
   ========================================================================== */

body {
	font-size: 16px;
	color: #404a49;
	background-color: #5bc4d442;
	font-family: 'Cousine', serif;
	font-weight: 400;
}
.container {
	margin: 0 auto;
	padding: 0 25px;
}
header .site-header {
	margin: 0 auto;
	height: 95px;
}
header .logo i {
	color: #fffff0;
	margin: 20px 0 0 -5px;
	float: left;
	font-size: 40px;
}
header .button {
	float: right;
	margin: 33px 0 0 0;
}
footer {
	text-align: center;
	padding: 35px 0;
	border-top: 2px dotted #fffff0;;
}



/* ==========================================================================
   Button Styles
   ========================================================================== */

.button {
	padding: 8px 10px 6px 10px;
	background: #ffffff;
	border: 2px inset #000000;
	border-radius: 4px;
	text-decoration: none;
	color: #000000;
	position: relative;
	text-align: center;
	font-size: 14px;
	animation: condense 1s 1;
	transform: scaleX(1);
	transition: 1s;
	display: inline-block;
}
.button.button-secondary {
	background: #FFF;
	border: 2px solid #e1e1e1;
	color: #404a49;
}
.button.icon-right {
	padding-right: 30px;
	top: -10px;
}
.button.icon-left {
	padding-left: 30px;
	top: -10px;
}
.button.icon-right i {
	position: absolute;
	top: 3px;
	right: 3px;
}
.button.icon-left i {
	position: absolute;
	top: 3px;
	left: 3px;
}

.button-container {
	margin: 0 auto;
	text-align: center;
}

@keyframes condense {
	0% {
		transform: scaleX(1.25);
	}
	100% {
		transform: scaleX(1);
	}
}
@keyframes expand {
	0% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(1.25);
	}
}

.button:hover{
	color: green;
	animation: expand 1s 1;
	transform: scaleX(1.25);
	transition: 1s;
}

.red:hover{
	color: red;
}


/* ==========================================================================
   Typography
   ========================================================================== */

h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;
	line-height: 1em;
	color: #000;
	font-style: italic;
}
h1 {
	font-size: 44px;
	margin-bottom: 12px;
	text-align: center;
}
h2 {
	font-size: 32px;
	text-align: center;
}
h2 a {
	text-decoration: none;
	color: #000;
}
h3 {
	font-size: 18px;
	font-family: 'Work Sans', serif;
	font-weight: 600;
	text-transform: uppercase;
}
p {
	line-height: 1.8em;
	font-size: 18px;
}
p a {
	border-bottom: 2px solid #ffffff;
	padding: 0;
	color: #ffffff;
	text-decoration: none;
}
ul li {
	line-height: 1.8em;
	font-size: 18px;
}
ul li a {
	border-bottom: 2px solid #000;
	line-height: 1.8em;
	color: #000;
	text-decoration: none;
}



/* ==========================================================================
   Page Styles
   ========================================================================== */

.entry-list{
	color: #555;
	font-size: 22px;
	padding: 0 !important;
	font-family: courier, monospace;
	border: 1px solid #dedede;
}

.entry-list,
.edit-entry,
.new-entry {
	max-width: 800px;
	margin: 0 auto;
	padding: 70px 0 150px 0;
}
.edit-entry h2,
.new-entry h2 {
	margin-bottom: 35px;
}
.entry-list article {
	margin-bottom: 0px;
	text-align: center;
	list-style: none;
	border-bottom: 1px dotted #ccc;
	height: auto;
	padding: 10px;
	background-color: ivory;
}
.entry-list article:last-child {
	margin-bottom: 0;
}
.entry-list article h2 {
	margin-bottom: 8px;
}
.entry-list.single {
	padding-bottom: 70px;
}
.entry-list.single time {
	font-size: 18px;
}
.entry {
	max-width: 800px;
	margin: 75px auto 0 auto;
	text-align: left;
}
.entry p {
	margin-bottom: 40px;
}
.edit {
	padding-bottom: 80px;
	text-align: center;
	margin: 0 auto;
}
.edit a {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 18px;
	display: inline-block;
}
.edit-entry, .new-entry{
	background: #fffff0;
	padding-right: 10px;
	padding-left: 10px;
}

ul.tags {
	overflow: hidden;
}

ul.tags li{
	list-style-type: none;
	float: left;
	margin-right: 10px;
}

ul.tags a{
	color: cornflowerblue;
	display: inline-block;
}

ul.tags a:hover{
	margin-right: 15px;
	margin-left: 15px;
}

#error{
	max-width: 800px;
	color: white;
	background-color: red;
	margin: 0 auto 15px auto;
	text-align: center;
	border: 1px solid black;
	border-radius: 15px;
}

#error p {
	padding: 0 5px 0 5px;
	line-height: 32px;
}

/* ==========================================================================
   Form Styles
   ========================================================================== */


form label {
	display: block;
	margin-bottom: 8px;
}
form input[type=text],
form input[type=password],
form input[type=date],
form textarea {
	border: 2px solid #e1e1e1;
	font-size: 18px;
	line-height: 1.8em;
	padding:10px 13px;
	margin-bottom: 30px;
	border-radius: 4px;
	width: calc(100% - 32px);
}
form input[type=text]:focus,
form input[type=date]:focus,
form input[type=password]:focus,
form textarea:focus {
	outline: 0;
	border-color: #fffff0;
}
form input[type=text]:hover,
form input[type=date]:hover
form textarea:hover {
	border-color: #fffff0;
}
.edit-entry form textarea,
.new-entry form textarea {
	min-height: 200px;
}
input[type=submit] {
	margin-right: 5px;
}